* {
    primary: #47f4aa;
    primary-fixed: #55feb3;
    primary-fixed-dim: #29e199;
    on-primary: #003822;
    on-primary-fixed: #002112;
    on-primary-fixed-variant: #005234;
    primary-container: #0bd790;
    on-primary-container: #003722;
    secondary: #98d3b1;
    secondary-fixed: #b4f0cc;
    secondary-fixed-dim: #98d3b1;
    on-secondary: #003822;
    on-secondary-fixed: #002112;
    on-secondary-fixed-variant: #155036;
    secondary-container: #185338;
    on-secondary-container: #b5f1cd;
    tertiary: #ffd0ab;
    tertiary-fixed: #ffdcc2;
    tertiary-fixed-dim: #ffb77a;
    on-tertiary: #4c2700;
    on-tertiary-fixed: #2e1500;
    on-tertiary-fixed-variant: #6d3a00;
    tertiary-container: #ffaa5e;
    on-tertiary-container: #4b2600;
    error: #ffb4ab;
    on-error: #690005;
    error-container: #93000a;
    on-error-container: #ffdad6;
    surface: #0d1510;
    on-surface: #dce5dc;
    on-surface-variant: #bacbbe;
    outline: #859589;
    outline-variant: #3c4a41;
    shadow: #000000;
    scrim: #000000;
    inverse-surface: #dce5dc;
    inverse-on-surface: #2a322d;
    inverse-primary: #006c46;
    surface-dim: #0d1510;
    surface-bright: #333b35;
    surface-container-lowest: #08100b;
    surface-container-low: #151d18;
    surface-container: #19211c;
    surface-container-high: #242c26;
    surface-container-highest: #2e3731;
}
